h1 {
  font-size: 52px;
  margin: 0 auto 32px;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 50px 32px;
}

.error-message {
  font-weight: 700;
  font-size: 24px;
  color: red;
  text-align: center;
}

.link-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.link-button:hover {
  color: #60a5fa;
}

.link {
  color: black;
  text-decoration: none;
}
